<!--<div-->
<!--  class="container"-->
<!--  infinite-scroll-->
<!--  [scrollWindow]="false"-->
<!--  [infiniteScrollDistance]="1"-->
<!--  [infiniteScrollUpDistance]="2"-->
<!--  [infiniteScrollThrottle]="300"-->
<!--  (scrolled)="onScrolledDown()"-->
<!--  (scrolledUp)="onScrolledUp()"-->
<!--&gt;-->
<!--  <div-->
<!--    *ngFor="let item of items; trackBy: trackByIndexFn"-->
<!--    class="item"-->
<!--  >-->
<!--    <div>{{item.id}}. {{item.text}}</div>-->
<!--    <div *ngIf="item.image">-->
<!--      <img [src]="item.image" alt="">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<router-outlet></router-outlet>
