<div
  class="container"
  #container
  (scroll)="onScroll()"
>
  <div
    class="viewport"
    #viewport
  >
    <div
      class="spacer"
      #spacer
    >
      <div
        *ngFor="let item of items"
        class="item"
        #items
      >
        <div class="inner">
          <p>{{item.id}}. {{item.text}}</p>
          <img
            *ngIf="item.image"
            src="{{item.image}}"
            alt=""
          >
        </div>
      </div>
    </div>
  </div>
  <div class="preview">

  </div>
</div>

<!--<app-custom-virtual-scroller-->
<!--  class="container"-->
<!--  #scroll-->
<!--  [initialItems]="items"-->
<!--  [prepend]="prependItems"-->
<!--&gt;-->
<!--  <div-->
<!--    *ngFor="let item of scroll.items"-->
<!--    class="item"-->
<!--  >-->
<!--    <div class="inner">-->
<!--      <p>{{item.text}}</p>-->
<!--      <img-->
<!--        *ngIf="item.image"-->
<!--        src="{{item.image}}"-->
<!--        alt=""-->
<!--      >-->
<!--    </div>-->
<!--  </div>-->
<!--</app-custom-virtual-scroller>-->

